<nav class="navbar navbar-dark bg-dark mb-5">
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
        </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-expand m-auto navbar-text">
            Follow me on :
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://www.linkedin.com/in/robipozzi" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="nav-item nav-link" href="https://twitter.com/roberto_pozzi" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="nav-item nav-link" href="https://www.instagram.com/robipozzi/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="nav-item nav-link" href="https://gitlab.com/robipozzi" target="_blank">
                <i class="fa fa-gitlab"></i>
            </a>
        </div>
    </div>
</nav>