<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
        Made with <i class="fa fa-heart"></i> by Robi Pozzi
    </div>
    <!--div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Settings gears">Settings gears</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div-->
</nav>