<div class="container" *ngIf="restaurants.length">
    <!--button type="submit" class="btn btn-success" (click)="add()">Add New Restaurant</button>
    <div *ngIf="addFormView">
        <app-restaurant-add></app-restaurant-add>
    </div-->
    <div class="bg-primary text-center text-white font-weight-bold">Restaurants</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Type of cuisine</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restaurant of restaurants">
                <td>{{restaurant.id}}</td>
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.street}}, {{restaurant.zipcode}} {{restaurant.city}}</td>
                <td>{{restaurant.cuisine}}</td>
                <td><button class="btn btn-primary" (click)="delete(restaurant)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>