<div class="container">
    <div class="jumbotron">
        <div [hidden]="submitted">
            <h1>Restaurant Form</h1>
            <form (ngSubmit)="add()" #restaurantForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" required [(ngModel)]="model.city" name="city" #city="ngModel">
                    <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
                        City is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="zipcode">Zip Code</label>
                    <input type="text" class="form-control" id="zipcode" [(ngModel)]="model.zipcode" name="zipcode">
                </div>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" id="street" required [(ngModel)]="model.street" name="street" #street="ngModel">
                    <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
                        Street is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="cuisine">Type of Cuisine</label>
                    <input type="text" class="form-control" id="cuisine" [(ngModel)]="model.cuisine" name="cuisine">
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!restaurantForm.form.valid">Submit</button>
                <button type="button" class="btn btn-default" (click)="reset(); restaurantForm.reset()">Reset</button>
            </form>
        </div>
        <div [hidden]="!submitted">
            <h2>You submitted the following:</h2>
            <div class="row">
                <div class="col-xs-3">Name: </div>
                <div class="col-xs-9">{{ model.name }} </div>
            </div>
            <div class="row">
                <div class="col-xs-3">City: </div>
                <div class="col-xs-9">{{ model.city }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Zip Code: </div>
                <div class="col-xs-9">{{ model.zipcode }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Street: </div>
                <div class="col-xs-9">{{ model.street }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Type of Cuisine: </div>
                <div class="col-xs-9">{{ model.cuisine }}</div>
            </div>
            <br>
            <button class="btn btn-primary" (click)="submitted=false">Edit</button>
        </div>
    </div>
</div>